
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Lean Coffee Table</title>
    <meta charset="utf-8">
    <title>Lean Coffee Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/lct.css') }}"/>
    <script>
        function newtopic(boardid) {
            var url = '{{ url_for('newtopic', boardid='') }}';
            window.location.href=url+boardid.toString();
            }

        function votetopic(boardid, topicid) {
            var url = '{{ url_for('newvote', boardid='B', topicid='T') }}';
            // window.location.href=url+topicid.toString();
            alert(url);
        }
    </script>
</head>
      
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lean Coffee Table</a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if param['ctrl']['loggedin'] == 'yes' %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('user') }}">User</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" id="addbutton">
        {% if param['ctrl']['loggedin'] == 'yes' %}
        <button type="button" class="btn btn-success pull-right" onclick="location.href='{{ url_for('newtopic',boardid=param['ctrl']['boardid']) }}';">Add new topic</button>
        {% else %}
        <button type="button" class="btn btn-success pull-right disabled" disabled="disabled" onclick="location.href='{{ url_for('newtopic',boardid=param['ctrl']['boardid']) }}';">Add new topic</button>
        {% endif %}
    </div>


    <div class="container-fluid">
	    <div class="row">
            {% for topic in param['data'] %}
	            <div class="col-md-3 col-sm-4">
                    <div class="card" style="width: 25rem;">
                        <a href="#topicmodal" id="nodec" data-target="#topicmodal" data-toggle="modal" data-id="{{ topic['heading'] }}|{{ topic['description'] }}|{{ topic['numvote'] }}" class="modaltopic">
                            <div class="card-img-top" style="background-color:rgba(22, 160, 133, 0.1) " id="topimg">
                                <center><i class="fa fa-comments" style="color:#16A085"></i></center>
                            </div>
                            <div class="card-block">
                                <div style="height: 2rem;">
                                    <h4 style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{ topic['heading'] }}</h4>
                                </div>
                                <div style="height: 8rem;text-overflow: ellipsis;overflow: hidden;">
                                    <p style="text-overflow: ellipsis;overflow: hidden;">{{ topic['description'] }}</p>
                                </div>
                                <p class="card-text">{{ topic['numvote'] }} Votes
                                    {% if 'sessionname' in param['ctrl'] %}
                                        {% if param['ctrl']['sessionname'] == topic['user'] %}
                                            <a href="#" class="btn confirmdel tooltips" data-id="{{ url_for('deltopic', boardid=topic['boardid'],topicid=topic['topicid']) }}" title="Delete">
                                                <span class="fa fa-trash-o fa-lg"></span>
                                            </a>
                                        {% endif %}
                                        {% if 'thumbsup' in topic %}
                                            <a href="#" class="btn tooltips" onclick="location.href='{{ url_for('delvote',boardid=topic['boardid'],topicid=topic['topicid'],voteid=topic['thumbsup']) }}';" title="Vote">
                                                <span class="fa fa-thumbs-up fa-lg"></span>
                                            </a>
                                        {% else %}
                                            {% if param['ctrl']['myvote'] < param['ctrl']['votenum'] or param['ctrl']['votenum'] == 0 %}
                                            <a href="#" class="btn tooltips" onclick="location.href='{{ url_for('newvote',boardid=topic['boardid'],topicid=topic['topicid']) }}';" title="Vote">
                                                <span class="fa fa-thumbs-down fa-lg"></span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <br>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            {% if 'sessionname' in param['ctrl'] %}
                <p class="navbar-text pull-left">{{ param['ctrl']['sessionname'] }} Logged in</p>
            {% else %}
                <p class="navbar-text pull-left">No one logged in</p>
            {% endif %}

        </div>
    </div>

    <script src="http://rawgithub.com/makeusabrew/bootbox/master/bootbox.js"></script>
    <script>
        $(document).on("click", ".confirmdel", function(e) {
            var url = $(this).attr("data-id");

            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    window.location.href=url
                }
            });
        });

        $(document).on("click", ".modaltopic", function(e) {
            var data = $(this).attr("data-id");
            var topicarray = data.split("|");
            document.getElementById("topichead").innerHTML = topicarray[0].toString();
            document.getElementById("topicdesc").innerHTML = topicarray[1].toString();
            var elem = document.getElementById("timer");
            var width = 0;
            elem.style.width = width + '%';
        });

        $(document).ready(function(){
            $("#topicmodal").on("hide.bs.modal", function (e) {
                clearInterval(topictimer);
            });
        });

        var topictimer;

        function modaltimer()
        {
            var elem = document.getElementById("timer");
            var value = document.getElementById("timervalue");
            var width = 0;
            var interval = (value.value * 60) / 100;
            elem.style.width = width + '%';
            topictimer = setInterval(frame, interval*1000);
            function frame() {
                if (width >= 100) {
                    clearInterval(topictimer);
                    alert("Restart or leave");
                } else {
                    width++;
                    elem.style.width = width + '%';
                }
            }
        }
    </script>

    <!-- Modal -->
    <div class="modal fade" id="topicmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><h2 id="topichead"></h2></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="topicdesc"></p>
                </div>
                <div class="modal-footer">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" id="timer">
                        </div>
                    </div>

                    <label class="col-sm-2 control-label">Time</label>
                    <div class="col-md-2">
                        <select class="form-control pull-left" id="timervalue">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="modaltimer();">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
 
</html>


