
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Lean Coffee Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lct.css') }}"/>


    <script>
        function delboard(boardid) {
            if (confirm(`Are you sure you want to delete board ${boardid}?`)) {
                var url = '{{ url_for('delboard', boardid='') }}';
                window.location.href=url+boardid.toString();
                }
            return false;
            }

        function openboard(boardid) {
            var url = '{{ url_for('board', boardid='', ) }}';
            window.location.href=url+boardid.toString();
            }
    </script>
</head>
      
<body>
 <!--   <div class="container-fluid"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lean Coffee Table</a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if param['ctrl']['loggedin'] == 'yes' %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
   <!-- </div> -->


    <div class="container-fluid" id="addbutton">
        {% if param['ctrl']['loggedin'] == 'yes' %}
        <button type="button" class="btn btn-success pull-right" onclick="location.href='{{ url_for('newboard') }}';">Add new board</button>
        {% else %}
        <button type="button" class="btn btn-success float-right disabled" disabled="disabled" onclick="location.href='{{ url_for('newboard') }}';">Add new board</button>
        {% endif %}
    </div>


 <div class="container-fluid">
	<div class="row">
        {% for board in param['data'] %}
	    <div class="col-md-3 col-sm-4">
	        <div class="wrimagecard wrimagecard-topimage">
                <a href="{{ url_for('board', boardid=board['boardid']) }}">
                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                        <center><i class="fa fa-edit" style="color:#BB7824"></i></center>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>{{ board['name'] }} </h4>
                        <p>{{ board['date'] }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>

 <!--
    <div class="card-group">

        {% for board in param['data'] %}
        <div class="col m4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">{{ board['name'] }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ board['date'] }}</p>
                    {% if 'sessionname' in param['ctrl'] %}
                        {% if param['ctrl']['sessionname'] == board['user'] %}
                            <a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
                            <button type="button" onclick="delboard( {{ board['boardid'] }} )" style="border: 0; background: none;">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <a class="tooltips" data-toggle="tooltip" data-placement="top" title="Open board">
                        <button type="button" onclick="openboard( {{ board['boardid'] }} )" style="border: 0; background: none;">
                            <i class="fa fa-sticky-note fa-2x" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div> -->
    
    <footer class="footer">
        {% if 'sessionname' in param['ctrl'] %}
            <p>{{ param['ctrl']['sessionname'] }} Logged in</p>
        {% else %}
            <p>No one logged in</p>
        {% endif %}
    </footer>

</body>
 
</html>


