
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Lean Coffee Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/lct.css') }}"/>
</head>
      
<body>

 <!--   <div class="container-fluid"> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lean Coffee Table</a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if param['ctrl']['loggedin'] == 'yes' %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
   <!-- </div> -->


    <div class="container-fluid" id="addbutton">
        {% if param['ctrl']['loggedin'] == 'yes' %}
        <button type="button" class="btn btn-success pull-right" onclick="location.href='{{ url_for('newboard') }}';">Add new board</button>
        {% else %}
        <button type="button" class="btn btn-success pull-right disabled" disabled="disabled" onclick="location.href='{{ url_for('newboard') }}';">Add new board</button>
        {% endif %}
    </div>


 <div class="container-fluid">
	<div class="row">
        {% for board in param['data'] %}
	        <div class="col-md-3 col-sm-4">
                <div class="card" style="width: 25rem;">
                    <a href="{{ url_for('board', boardid=board['boardid']) }}" id="nodec">
                        <div class="card-img-top" style="background-color:rgba(187, 120, 36, 0.1) " id="topimg">
                            <center><i class="fa fa-edit" style="color:#BB7824"></i></center>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{ board['name'] }}</h4>
                            <p class="card-text">{{ board['date'] }}
                                {% if 'sessionname' in param['ctrl'] %}
                                    {% if param['ctrl']['sessionname'] == board['user'] %}
                                    <a href="#" class="btn confirmdel tooltips" data-id="{{ url_for('delboard', boardid=board['boardid']) }}" title="Delete">
                                        <span class="fa fa-trash-o fa-lg"></span>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </p><br>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
 </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            {% if 'sessionname' in param['ctrl'] %}
                <p class="navbar-text pull-left">{{ param['ctrl']['sessionname'] }} Logged in</p>
            {% else %}
                <p class="navbar-text pull-left">No one logged in</p>
            {% endif %}

        </div>
    </div>

    <script src="http://rawgithub.com/makeusabrew/bootbox/master/bootbox.js"></script>
    <script>
        $(document).on("click", ".confirmdel", function(e) {
            var url = $(this).attr("data-id");

            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    window.location.href=url
                }
            });
        });
    </script>


</body>
 
</html>


