<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lean Coffee Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lct.css') }}"/>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lean Coffee Table</a>
        </div>


        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if param['ctrl']['loggedin'] == 'yes' %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="POST" action="/login.html">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <h2>Please Login</h2>
                    <br>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="form-group has-danger">
                    <div class="col-md-3"></div>
                    <label class="control-lable col-md-1" for="user"> Username</label>
                    <div class="input-group col-md-3">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="user" class="form-control" id="user" placeholder="Username" required autofocus>
                    </div>
                    <!--    <div class="form-control-feedback col-md-2 border">
                            <span class="text-danger align-middle">
                                {% if 'errormsg' in param['ctrl'] %}
                                    <i class="fa fa-close">{{ param['ctrl']['errormsg'] }}</i>
                                {% endif %}
                            </span>
                        </div> -->
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <label class="control-lable col-md-1" for="password"> Password</label>
                    <div class="input-group col-md-3">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->    
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" href="/newuser.html">Register new user?</a>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <br>
        {% if 'errormsg' in param['ctrl'] %}
            <div class="alert alert-danger">
                <strong><i class="fa fa-close fa-lg"></i> </strong>{{ param['ctrl']['errormsg'] }}
            </div>
        {% endif %}
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            {% if 'sessionname' in param['ctrl'] %}
                <p class="navbar-text pull-left">{{ param['ctrl']['sessionname'] }} Logged in</p>
            {% else %}
                <p class="navbar-text pull-left">No one logged in</p>
            {% endif %}

        </div>
    </div>

</body>

</html>
